<a href="https://colab.research.google.com/github/anthonytranhoang/Credit_card_fraud/blob/Sima_branch/Project_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Ensure skl2onnx is installed for model conversion to ONNX format.
!pip install skl2onnx

Collecting skl2onnx
  Downloading skl2onnx-1.17.0-py2.py3-none-any.whl.metadata (3.2 kB)
Collecting onnx>=1.2.1 (from skl2onnx)
  Downloading onnx-1.17.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (16 kB)
Requirement already satisfied: scikit-learn>=1.1 in /usr/local/lib/python3.10/dist-packages (from skl2onnx) (1.5.2)
Collecting onnxconverter-common>=1.7.0 (from skl2onnx)
  Downloading onnxconverter_common-1.14.0-py2.py3-none-any.whl.metadata (4.2 kB)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.10/dist-packages (from onnx>=1.2.1->skl2onnx) (1.26.4)
Requirement already satisfied: protobuf>=3.20.2 in /usr/local/lib/python3.10/dist-packages (from onnx>=1.2.1->skl2onnx) (3.20.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from onnxconverter-common>=1.7.0->skl2onnx) (24.1)
Collecting protobuf>=3.20.2 (from onnx>=1.2.1->skl2onnx)
  Downloading protobuf-3.20.2-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl.metadata (679 bytes)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=1.1->skl2onnx) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=1.1->skl2onnx) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=1.1->skl2onnx) (3.5.0)
Downloading skl2onnx-1.17.0-py2.py3-none-any.whl (298 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 298.4/298.4 kB 14.3 MB/s eta 0:00:00
Downloading onnx-1.17.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.0/16.0 MB 92.3 MB/s eta 0:00:00
Downloading onnxconverter_common-1.14.0-py2.py3-none-any.whl (84 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 84.5/84.5 kB 8.4 MB/s eta 0:00:00
Downloading protobuf-3.20.2-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 58.0 MB/s eta 0:00:00
Installing collected packages: protobuf, onnx, onnxconverter-common, skl2onnx
  Attempting uninstall: protobuf
    Found existing installation: protobuf 3.20.3
    Uninstalling protobuf-3.20.3:
      Successfully uninstalled protobuf-3.20.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow 2.17.0 requires protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3, but you have protobuf 3.20.2 which is incompatible.
tensorflow-metadata 1.16.1 requires protobuf<4.21,>=3.20.3; python_version < "3.11", but you have protobuf 3.20.2 which is incompatible.
Successfully installed onnx-1.17.0 onnxconverter-common-1.14.0 protobuf-3.20.2 skl2onnx-1.17.0

In [5]:
# Import all the dependencies for ML project
import pandas as pd  # Data manipulation
import numpy as np  # Numerical operations
import matplotlib.pyplot as plt  # Plotting
import seaborn as sns  # Data visualization
import psycopg2  # PostgreSQL adapter
from psycopg2 import sql  # SQL queries
from sklearn.preprocessing import LabelEncoder, StandardScaler  # Preprocessing
from xgboost import XGBClassifier  # XGBoost classifier
from sklearn.model_selection import train_test_split  # Train-test split
from sklearn.metrics import classification_report, accuracy_score  # Metrics
from sklearn.ensemble import RandomForestClassifier  # Random Forest classifier
from sklearn.utils import resample  # Resampling utilities
from imblearn.over_sampling import SMOTE  # Handle imbalanced data
import joblib  # Model saving
from skl2onnx import convert_sklearn  # Convert to ONNX
from skl2onnx.common.data_types import FloatTensorType  # ONNX types
import onnx  # ONNX support
import pickle  # Object serialization

In [6]:
# Define the connection parameters
host = 'database-1.cxu0eg8y6y4k.ap-southeast-2.rds.amazonaws.com'
database = 'Finance_db'
user = 'postgres'
password = 'Radin5286'
port = '5432'

In [7]:
# Establish the connection
try:
    conn = psycopg2.connect(
        host=host,
        database=database,
        user=user,
        password=password,
        port=port
    )
    print("Connection successful!")
except Exception as e:
    print(f"Error: {e}")

Connection successful!

In [8]:
query = """
    SELECT table_name
    FROM information_schema.tables
    WHERE table_schema = 'public'
      AND table_type = 'BASE TABLE';
    """

    # Execute the query and load into a DataFrame
df_tables = pd.read_sql(query, conn)

    # Display the DataFrame containing table names
print(df_tables)

<ipython-input-8-9047a232e4f4>:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_tables = pd.read_sql(query, conn)

              table_name
0  classification_report
1                finance

In [9]:
query = "SELECT * FROM finance;"

In [10]:
finance_df = pd.read_sql(query, conn)
finance_df.head(2)

<ipython-input-10-f764c01b7782>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  finance_df = pd.read_sql(query, conn)

   fraud_bool  income  name_email_similarity  ...  device_distinct_emails_8w  device_fraud_count  month
0           0     0.3               0.986506  ...                          1                   0      0
1           0     0.8               0.617426  ...                          1                   0      0

[2 rows x 32 columns]

In [11]:
conn.close()

In [12]:
finance_df.dtypes
#Checking dtypes.

fraud_bool                            int64
income                              float64
name_email_similarity               float64
prev_address_months_count             int64
current_address_months_count          int64
customer_age                          int64
days_since_request                  float64
intended_balcon_amount              float64
payment_type                         object
zip_count_4w                          int64
velocity_6h                         float64
velocity_24h                        float64
velocity_4w                         float64
bank_branch_count_8w                  int64
date_of_birth_distinct_emails_4w      int64
employment_status                    object
credit_risk_score                     int64
email_is_free                         int64
housing_status                       object
phone_home_valid                      int64
phone_mobile_valid                    int64
bank_months_count                     int64
has_other_cards                       int64
proposed_credit_limit               float64
foreign_request                       int64
source                               object
session_length_in_minutes           float64
device_os                            object
keep_alive_session                    int64
device_distinct_emails_8w             int64
device_fraud_count                    int64
month                                 int64
dtype: object

In [13]:
finance_df['fraud_bool'].unique()

array([0, 1])

In [14]:
finance_df['fraud_bool'].value_counts()

fraud_bool
0    988971
1     11029
Name: count, dtype: int64

In [15]:
finance_df.columns

Index(['fraud_bool', 'income', 'name_email_similarity',
       'prev_address_months_count', 'current_address_months_count',
       'customer_age', 'days_since_request', 'intended_balcon_amount',
       'payment_type', 'zip_count_4w', 'velocity_6h', 'velocity_24h',
       'velocity_4w', 'bank_branch_count_8w',
       'date_of_birth_distinct_emails_4w', 'employment_status',
       'credit_risk_score', 'email_is_free', 'housing_status',
       'phone_home_valid', 'phone_mobile_valid', 'bank_months_count',
       'has_other_cards', 'proposed_credit_limit', 'foreign_request', 'source',
       'session_length_in_minutes', 'device_os', 'keep_alive_session',
       'device_distinct_emails_8w', 'device_fraud_count', 'month'],
      dtype='object')

In [17]:

 finance_df[['fraud_bool', 'income', 'name_email_similarity',
       'prev_address_months_count', 'current_address_months_count',
        'customer_age', 'days_since_request', 'intended_balcon_amount', 'zip_count_4w', 'velocity_6h', 'velocity_24h',
       'velocity_4w', 'bank_branch_count_8w',
        'date_of_birth_distinct_emails_4w',
       'credit_risk_score', 'email_is_free',
        'phone_home_valid', 'phone_mobile_valid', 'bank_months_count',
        'has_other_cards', 'proposed_credit_limit', 'foreign_request',
        'session_length_in_minutes', 'keep_alive_session',
        'device_distinct_emails_8w', 'device_fraud_count', 'month']].corr()
# Looking at the correlation to see which features are more important.

                                  fraud_bool    income  ...  device_fraud_count     month
fraud_bool                          1.000000  0.045079  ...                 NaN  0.013250
income                              0.045079  1.000000  ...                 NaN  0.116479
name_email_similarity              -0.036720 -0.038519  ...                 NaN -0.042949
prev_address_months_count          -0.026031  0.018209  ...                 NaN -0.001793
current_address_months_count        0.033701 -0.036985  ...                 NaN -0.024541
customer_age                        0.062959  0.125822  ...                 NaN  0.005694
days_since_request                  0.000567 -0.015877  ...                 NaN -0.017938
intended_balcon_amount             -0.024524  0.059046  ...                 NaN -0.043070
zip_count_4w                        0.005212 -0.080581  ...                 NaN -0.287203
velocity_6h                        -0.016892 -0.096431  ...                 NaN -0.409148
velocity_24h                       -0.011183 -0.101269  ...                 NaN -0.549919
velocity_4w                        -0.011536 -0.106333  ...                 NaN -0.848100
bank_branch_count_8w               -0.011577  0.007474  ...                 NaN -0.029182
date_of_birth_distinct_emails_4w   -0.043224 -0.062348  ...                 NaN -0.244779
credit_risk_score                   0.070624  0.171447  ...                 NaN  0.175893
email_is_free                       0.027758 -0.024900  ...                 NaN -0.064541
phone_home_valid                   -0.035128  0.024938  ...                 NaN  0.057643
phone_mobile_valid                 -0.013180  0.014979  ...                 NaN  0.033656
bank_months_count                  -0.003222 -0.004514  ...                 NaN -0.025015
has_other_cards                    -0.035156  0.086861  ...                 NaN  0.043502
proposed_credit_limit               0.068907  0.108868  ...                 NaN -0.056665
foreign_request                     0.016885  0.011452  ...                 NaN -0.018510
session_length_in_minutes           0.008999 -0.055430  ...                 NaN -0.079542
keep_alive_session                 -0.050296 -0.043584  ...                 NaN -0.022076
device_distinct_emails_8w           0.035704 -0.009992  ...                 NaN -0.046994
device_fraud_count                       NaN       NaN  ...                 NaN       NaN
month                               0.013250  0.116479  ...                 NaN  1.000000

[27 rows x 27 columns]

In [18]:
# looking for the null values in a data.
finance_df.isnull().sum()

fraud_bool                          0
income                              0
name_email_similarity               0
prev_address_months_count           0
current_address_months_count        0
customer_age                        0
days_since_request                  0
intended_balcon_amount              0
payment_type                        0
zip_count_4w                        0
velocity_6h                         0
velocity_24h                        0
velocity_4w                         0
bank_branch_count_8w                0
date_of_birth_distinct_emails_4w    0
employment_status                   0
credit_risk_score                   0
email_is_free                       0
housing_status                      0
phone_home_valid                    0
phone_mobile_valid                  0
bank_months_count                   0
has_other_cards                     0
proposed_credit_limit               0
foreign_request                     0
source                              0
session_length_in_minutes           0
device_os                           0
keep_alive_session                  0
device_distinct_emails_8w           0
device_fraud_count                  0
month                               0
dtype: int64

In [19]:
# saving the dataframe to csv in local storage.
finance_df.to_csv('finance.csv')

In [20]:
finance_df.head(10)

   fraud_bool  income  name_email_similarity  ...  device_distinct_emails_8w  device_fraud_count  month
0           0     0.3               0.986506  ...                          1                   0      0
1           0     0.8               0.617426  ...                          1                   0      0
2           0     0.8               0.996707  ...                          1                   0      0
3           0     0.6               0.475100  ...                          1                   0      0
4           0     0.9               0.842307  ...                          1                   0      0
5           0     0.6               0.294840  ...                          1                   0      0
6           0     0.2               0.773085  ...                          1                   0      0
7           0     0.8               0.153880  ...                          1                   0      0
8           0     0.3               0.523655  ...                          1                   0      0
9           0     0.8               0.834475  ...                          1                   0      0

[10 rows x 32 columns]

In [21]:
finance_df['payment_type'].unique()

array(['AA', 'AD', 'AB', 'AC', 'AE'], dtype=object)

In [22]:
finance_df['employment_status'].unique()

array(['CB', 'CA', 'CC', 'CF', 'CD', 'CE', 'CG'], dtype=object)

In [23]:
finance_df['housing_status'].unique()

array(['BC', 'BE', 'BD', 'BA', 'BB', 'BF', 'BG'], dtype=object)

In [24]:
finance_df['source'].unique()

array(['INTERNET', 'TELEAPP'], dtype=object)

In [25]:
finance_df['device_os'].unique()

array(['linux', 'other', 'windows', 'x11', 'macintosh'], dtype=object)

In [26]:
# One-hot encoding 'employment_status'
finance_df1 = pd.get_dummies(finance_df, columns=['employment_status','payment_type','housing_status','device_os'], drop_first=True)
# drop_first=True prevents multicollinearity by dropping one category

In [27]:
finance_df1.head()

   fraud_bool  income  name_email_similarity  ...  device_os_other  device_os_windows  device_os_x11
0           0     0.3               0.986506  ...            False              False          False
1           0     0.8               0.617426  ...             True              False          False
2           0     0.8               0.996707  ...            False               True          False
3           0     0.6               0.475100  ...            False              False          False
4           0     0.9               0.842307  ...             True              False          False

[5 rows x 48 columns]

In [28]:
# Example: Label encoding the 'payment_type' column
label_encoder = LabelEncoder()
finance_df1['source'] = label_encoder.fit_transform(finance_df1['source'])

In [29]:
finance_df1.dtypes

fraud_bool                            int64
income                              float64
name_email_similarity               float64
prev_address_months_count             int64
current_address_months_count          int64
customer_age                          int64
days_since_request                  float64
intended_balcon_amount              float64
zip_count_4w                          int64
velocity_6h                         float64
velocity_24h                        float64
velocity_4w                         float64
bank_branch_count_8w                  int64
date_of_birth_distinct_emails_4w      int64
credit_risk_score                     int64
email_is_free                         int64
phone_home_valid                      int64
phone_mobile_valid                    int64
bank_months_count                     int64
has_other_cards                       int64
proposed_credit_limit               float64
foreign_request                       int64
source                                int64
session_length_in_minutes           float64
keep_alive_session                    int64
device_distinct_emails_8w             int64
device_fraud_count                    int64
month                                 int64
employment_status_CB                   bool
employment_status_CC                   bool
employment_status_CD                   bool
employment_status_CE                   bool
employment_status_CF                   bool
employment_status_CG                   bool
payment_type_AB                        bool
payment_type_AC                        bool
payment_type_AD                        bool
payment_type_AE                        bool
housing_status_BB                      bool
housing_status_BC                      bool
housing_status_BD                      bool
housing_status_BE                      bool
housing_status_BF                      bool
housing_status_BG                      bool
device_os_macintosh                    bool
device_os_other                        bool
device_os_windows                      bool
device_os_x11                          bool
dtype: object

In [30]:
# Separating the target variable and features
X = finance_df1.drop(columns=['fraud_bool'])
y = finance_df1['fraud_bool']

# Splitting the data into training and test sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initializing the XGBoost Classifier
xgb_model = XGBClassifier(use_label_encoder=False, eval_metric='logloss')

# Training the model
xgb_model.fit(X_train, y_train)

# Making predictions on the test set
y_pred = xgb_model.predict(X_test)

# Evaluating the model
accuracy = accuracy_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

accuracy, classification_rep

/usr/local/lib/python3.10/dist-packages/xgboost/core.py:158: UserWarning: [08:38:32] WARNING: /workspace/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

(0.98937,
 '              precision    recall  f1-score   support\n\n           0       0.99      1.00      0.99    197891\n           1       0.46      0.05      0.09      2109\n\n    accuracy                           0.99    200000\n   macro avg       0.73      0.52      0.54    200000\nweighted avg       0.98      0.99      0.99    200000\n')

In [31]:
print(f"\n{'Accuracy:':<15}{accuracy:.2f}\n")

# Pretty Print Classification Report
print("\nClassification Report:\n")
print(classification_rep)

Accuracy:      0.99


Classification Report:

              precision    recall  f1-score   support

           0       0.99      1.00      0.99    197891
           1       0.46      0.05      0.09      2109

    accuracy                           0.99    200000
   macro avg       0.73      0.52      0.54    200000
weighted avg       0.98      0.99      0.99    200000

### The XGBoost module was very accurate but it was not great at predicting the 1 class as there is a class imbalance. So we will try to oversample the class 1 and try different model to see it's precision.

first try

In [32]:
# Count the number of instances for each class
class_counts = finance_df1['fraud_bool'].value_counts()

# Determine the number of instances for the minority class (1s)
num_minority = class_counts.min()

# Separate majority and minority classes
df_majority = finance_df1[finance_df1['fraud_bool'] == 0]
df_minority = finance_df1[finance_df1['fraud_bool'] == 1]

# Randomly undersample the majority class
df_majority_undersampled = resample(df_majority,
                                     replace=False,  # do not want to replace
                                     n_samples=num_minority,  # match minority class
                                     random_state=42)  # reproducible results

# Combine undersampled majority class with original minority class
df_balanced = pd.concat([df_majority_undersampled, df_minority])

# Shuffle the new DataFrame
df_balanced = df_balanced.sample(frac=1, random_state=42).reset_index(drop=True)

# Separate features and target variable
X = df_balanced.drop('fraud_bool', axis=1)  # Features
y = df_balanced['fraud_bool']  # Target variable

# One-hot encode categorical variables
X = pd.get_dummies(X, drop_first=True)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Train the model with balanced class weights
model = RandomForestClassifier(class_weight='balanced', random_state=42)
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Print classification report
print("Classification Report:")
print(classification_report(y_test, y_pred))

Classification Report:
              precision    recall  f1-score   support

           0       0.79      0.81      0.80      3335
           1       0.80      0.78      0.79      3283

    accuracy                           0.80      6618
   macro avg       0.80      0.80      0.80      6618
weighted avg       0.80      0.80      0.80      6618

In [34]:
print(pd.Series(y_train).value_counts())

fraud_bool
1    692280
0    692279
Name: count, dtype: int64

second try ( The model used for integrate with Flask for the frontend UI )

In [33]:
# Select features and target
features = ['income', 'intended_balcon_amount', 'velocity_6h', 'velocity_24h', 'customer_age']
X = finance_df1[features]
y = finance_df1['fraud_bool']

# Apply SMOTE to balance the classes
smote = SMOTE(random_state=42)
X_resampled, y_resampled = smote.fit_resample(X, y)

# Scale the resampled data
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X_resampled)

# Train/Test Split (with stratification)
X_train, X_test, y_train, y_test = train_test_split(
    X_scaled, y_resampled, test_size=0.3, random_state=42, stratify=y_resampled
)

# Train the model
model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Evaluate the model
print(classification_report(y_test, y_pred, target_names=["Non-Fraud", "Fraud"]))

KeyboardInterrupt:

Saving the seccong try model to the ONNX file

In [ ]:
onnx_filename = 'model.onnx'
input_dim = X_train.shape[1]

try:
    onnx_model = convert_sklearn(model, initial_types=[('input', FloatTensorType([None, input_dim]))], target_opset=13)
    with open(onnx_filename, 'wb') as file:
        file.write(onnx_model.SerializeToString())
    print(f"Model saved to {onnx_filename}")
except Exception as e:
    print(f"Error converting or saving model: {e}")

Model saved to model.onnx

In [ ]:
# Create a StandardScaler object
scaler = StandardScaler()

# Fit the scaler to your data
scaler.fit(X)

# Save the fitted scaler to a file using pickle
with open('scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)

print("Scaler saved to scaler.pkl")

Scaler saved to scaler.pkl

third try

In [ ]:
# Select features to train on
features = ['income', 'intended_balcon_amount', 'velocity_6h', 'velocity_24h', 'customer_age']


X = finance_df1[features]

# Instantiate and fit a new scaler with all the features
scaler = StandardScaler()
scaler.fit(X)

# Save the new scaler using pickle for consistency in your Flask app
with open('scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)

# initial type for onnx conversion
initial_type = [('input', FloatTensorType([None, len(features)]))]

In [ ]:
# Select features to use in anomaly detection
features = ['intended_balcon_amount', 'velocity_6h', 'velocity_24h', 'customer_age']

# Scale the data
scaler = StandardScaler()
X_scaled = scaler.fit_transform(finance_df[features])

# Select features and target
X = finance_df1[features]
y = finance_df1['fraud_bool']

# Apply SMOTE to balance the classes
smote = SMOTE(random_state=42)
X_resampled, y_resampled = smote.fit_resample(X, y)

# Train/Test Split
X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, test_size=0.3, random_state=42)

# Train the model with class weight
model = RandomForestClassifier(class_weight='balanced', random_state=42)
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Evaluate the model
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.97      0.98      0.98    296961
           1       0.98      0.97      0.98    296422

    accuracy                           0.98    593383
   macro avg       0.98      0.98      0.98    593383
weighted avg       0.98      0.98      0.98    593383